/* Header Image Container */
.hero-container {
   overflow-y: hidden;
}

/* Header Image Overlay */
.overlay {
   background: rgba(0, 0, 0, .4);
   z-index: 2;
   height: 300px;
   position: absolute;
   left: 0;
   right: 0;
}

/* Header Image */
.hero-img {
   z-index: 1;
   background: url('../images/hero-sm.jpg');
   background-size: cover;
   background-position: center;
   height: 300px;
}


/* Panda Logo */
.logo {
   z-index: 5;
   width: 200px;
   height: 200px;
   position: relative;
   bottom: 250px;
   margin: 0 auto -175px auto;
   background: url('../images/panda-white.png');
   background-position: center;
   background-size: cover;
}

/* Text Blurbs */
.blurb {
   text-align: center;
   padding: 0 8px;
}

.blurb-lg {
   font-size: 4em;
   font-weight: 300;
}

.blurb-sm {
   font-size: 1.5em;
   margin: 35px 0;
}

/* Main Button */
.btn-container {
   text-align: center;
}

.btn-main:hover {
   cursor: pointer;
}

.btn-main:focus {
   box-shadow: 1px 1px 8px rgba(0, 0, 0, .6);
}

.btn-main {
   background: #F44336;
}

.btn-main:focus {
   outline-color: red;
}