/* Error Message */
.error-container {
   margin-top: 50px;
   text-align: center;
}

/* Number of meetups found */
.meetup-count {
   color: rgba(0, 0, 0, .7);
   font-size: 1.2em;
   margin: 0 5px;
}

/* Event list */
.data {
   padding: 0 10px 10px 10px;
   word-wrap: break-word;
}

/* Individual Event */
.data-element {
   list-style: none;
   width: 750px;
   margin: 0 auto 35px auto;
   background: white;
   border-radius: 3px;
   box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
   transition: 0.3s;
}

.data-element:hover {
   box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Event Header */
.data-element-header {
   padding: 5px 10px;
   background: #F44336;
   text-align: center;
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
}

.data-element-header a {
   text-decoration: none;
   color: white;
   font-size: 1.6em;
   border-bottom: 1px dotted white;
}

/* Event Body */
.data-element-body {
   padding: 15px;
}

.meetup-group {
   font-size: 1.3em;
   color: darkgray;
   margin-bottom: 15px;
}

.meetup-group-status {
   margin-bottom: 15px;
}

.meetup-waitlist {
   margin-right: 15px;
}

.meetup-rsvp-count {
}

.meetup-time {
   margin-top: 15px;
}

.meetup-date {
   margin-left: 10px;
}

/* Venue */
.meetup-venue {
   color: #F44336;
   margin-top: 15px;
}

.meetup-venue-name {
   margin: 0 6px;
}

.meetup-venue-address {
}

.meetup-venue-location {
   
}

.meetup-venue-city {
   margin-left: 4px;
   
}

.meetup-venue-state {
   margin-left: 4px;
}

/* Small Screens */
@media screen and (max-width: 800px) {

   .data-element {
      width: auto;
   }

}

/* Extra Small Screens */
@media screen and (max-width: 800px) {

   .header-text {
      display: none;
   }

}